<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Rapidoo Challenge</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
</nav>

<div class="container">

      <div class="starter-template">
        <h1>Rapidoo Code Challenge</h1>


        <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome">
    <small id="emailHelp" class="form-text text-muted">Digite o seu nome</small>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">E-mail</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-mail">
    <small id="emailHelp" class="form-text text-muted">Digite o seu e-mail</small>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Nome da empresa</label>
    <input type="password" class="form-control" id="nomedaempresa" placeholder="Nome da empresa">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Faturamento mensal da empresa</label>
    <input type="password" class="form-control" id="faturamento" placeholder="Faturamento mensal da empresa">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">O valor do título</label>
    <input type="password" class="form-control" id="valordotitulo" placeholder="O valor do título">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">O prazo até o vencimento (dias) do título</label>
    <input type="password" class="form-control" id="prazovencimento" placeholder="O prazo até o vencimento (dias) do título">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
