
  
  <div class="container">
  
        <div class="starter-template">
          <h1>Rapidoo Code Challenge</h1>
        
          <div class="alert alert-success" role="alert">
            <h5>SUCESSO!</h5>
        </div>
        
        <p> A taxa por 10 dias é de <%= @proposta.taxa%> %</p>
        <p> A taxa total é de <%= @proposta.taxatotal%> %</p>
        <p> O valor a receber é de R$ <%= @proposta.valorareceber%> </p>
        
    
  </div>
  